/* HEADER */
.header-top {
    max-height: 60px;
}

.logo>img {
    width: 13%;
    max-width: 140px;
}

.header-tot {
    position: fixed;
    width: 100%;
    z-index: 1;
}

/* Search icon */
header i {
    font-size: 1.5rem;
    padding: 1rem;
    cursor: pointer;
}

/* JUMBOTRON */

.jumbo-container {
    padding-top: 120px;
}

.returnal>img {
    width: 75%;
    padding-bottom: 2rem;
}

.returnal p {
    padding: 1rem 0rem;
}


.returnal {
    text-align: left;
}

.carousel-my {
    height: 60vh;
}

.bg-item img {
    height: 60vh;
    object-fit: cover;
    width: 100%;
}

/* CARDS */
.card {
    background-color: transparent;
    border: none;
}

.card:focus {
    border: 1px solid var(--blue);
    padding: 0.1rem;
}

/* PS5 */
.border-hover:hover {
    border-bottom: 3px solid var(--blue);
}

/* IT TAKES TWO */
.jumbo {
    height: 100%;
}

.game-it {
    height: 72vh;
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    background-position: 40% 10%;
    background-size: cover;
}

.game-it img {
    width: 60%;
}

/* Ps-plus */
.ps-plus {
    background-color: #bebcbb;
}

.ps-plus .btn {
    background-color: #d9dadc;
}

.ps-plus img {
    width: 70%;
}

/* Ps-now */
.ps-now {
    background-color: #161c3b;
}

.ps-now p {
    padding-top: 2rem;
    padding-bottom: 1rem;
}

.ps-now img {
    width: 70%;
}

/* Social  */
.social .row {
    max-width: 100%;
}

/* FOOTER */
footer {
    background-color: var(--footer);
}

ul>li {
    list-style-type: none;
    padding-top: 0.8rem;
}

.footer-foot-logo img {
    width: 30%;
}

.footer-foot-logo p {
    font-size: 0.8rem;
}

/* MEDIA QUERIES */
@media screen and (min-width:992px) {

    .social .row {
        max-width: 30%;
    }

    .footer-foot-logo img {
        max-width: 20%;
    }

    .bg-item img {
        width: 100%;
    }
}


/* JUMBOTRON CAROUSEL  
***********************/
/* background image */
.carousel-item .bg-item {
    cursor: pointer;
    /* max-height: 420px; */
}

/* .bg-item {
    max-height: 420px;
} */

.jumbotron-thumbnails-container img {
    cursor: pointer;
}

.img-pos {
    object-fit: cover;
    width: 100vh;
    object-position: top;
}


@media screen and (max-width:768px) {

    .carousel-caption h2,
    .carousel-caption p {
        display: none;
    }

    .carousel-caption img {
        width: 100%;
    }

}

/* BONUS NAV-BAR*/
.nav-my {
    position: relative;
}

.nav-my-drop {
    position: static;
}

.drop-my-menu.show {
    display: flex;
    width: 100%;
    justify-content: center;
    margin: 0px;
    border: none;
    border-radius: 0;
    text-align: center;
}

.drop-my-menu img {
    width: 70%;
}

.my-links li {
    list-style-type: disc;
}

.links {
    gap: 3rem;
}

.my-links {
    width: 100%;
    justify-content: center;
    border-top: 1px solid black;
}

/* HOVER */
.btn-dark {
    --bs-btn-hover-border-color: var(--blue);
}

.my-hover-header:hover .btn-dark {
    /* border: 4px double rgb(255, 255, 255); */
    outline-offset: 2px;
    outline: 2px solid black;
}

.my-hover-header:hover .btn-dark {
    outline-offset: 2px;
    outline: 2px solid black;
}

.btn-danger:hover {
    outline-offset: 2px;
    outline: 2px solid rgb(214, 46, 46);
}

.btn-primary:hover {
    outline-offset: 2px;
    outline: 2px solid var(--blue);
}

/* CARDS */
.bounce:hover .card {
    transition: 0.3s ease-in;
    transform: translate(-0px, -15px);
}