/* HEADER */
.header-top {
    max-height: 60px;
}

.logo>img {
    width: 13%;
    max-width: 140px;
}

.header-tot {
    position: fixed;
    width: 100%;
    z-index: 1;
}

/* Search icon */
header i {
    font-size: 1.5rem;
    padding: 1rem;
}

/* JUMBOTRON */
.jumbotron {
    height: 72vh;
    background-image: url(../img/jumbo-bg.png);
    background-position: center;
}

.jumbo-container {
    padding-top: 115px;
}

.returnal>img {
    width: 75%;
    padding-bottom: 2rem;
}

.returnal p {
    padding: 1rem 0rem;
}

.jumbo {
    height: 100%;
}

/* CARDS */
.card {
    background-color: transparent;
    border: none;
}

/* IT TAKES TWO */
.game-it {
    height: 72vh;
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    background-position: 40% 10%;
    background-size: cover;
}

.game-it img {
    width: 60%;
}

/* Ps-plus */
.ps-plus {
    background-color: #bebcbb;
}

.ps-plus .btn {
    background-color: #d9dadc;
}

.ps-plus img {
    width: 70%;
}

/* Ps-now */
.ps-now {
    background-color: #161c3b;
}

.ps-now p {
    padding-top: 2rem;
    padding-bottom: 1rem;
}

.ps-now img {
    width: 70%;
}

/* Social  */
.social .row {
    max-width: 100%;
}

/* FOOTER */
footer {
    background-color: var(--footer);
}

ul>li {
    list-style-type: none;
    padding-top: 0.8rem;
}

.footer-foot-logo img {
    width: 30%;
}

/* MEDIA QUERIES */
@media screen and (min-width:768px) {

    .social .row {
        max-width: 40%;
    }

    .footer-foot-logo img {
        max-width: 20%;
    }
}