/* Utils */
body {
	color: rgb(32, 32, 32);
}

:root {
	--blue: #0070d1;
	--footer: #00439c;
}

h2 {
	color: white;
	font-size: 2.5rem;
}

h3 {
	padding-bottom: 1rem;
	font-size: 2.2rem;
}

h4 {
	font-size: 1.3rem;
	padding-bottom: 1.5rem;
}

h5 {
	color: white;
	font-size: 1rem;
	padding-bottom: 1.5rem;
}

a {
	text-decoration: none;
	color: white
}